.failureRetry {
  color: #ffffff;
  background-color: #4f46e5;
  border-style: solid opx;
  border-radius: 6px;
  border-width: 0px;
  cursor: pointer;
  padding: 10px;
  width: 120px;
}
.notfound-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  height: 100vh;
}
